@charset "utf-8";

/* sub02_completeCapsule page */

.sub02_container{
  width: 1920px;
  /* height: 900px; */
}

/* subPage header */
.sub02_section1{
    width: 100%;
    height: 400px;
    text-align: center;
    word-break: keep-all;
    background-color: #083844;
}
.sub02_headerTitle{
	width: 1200px;
	margin: 0 auto;
	background: transparent;
}
.sub02_subTilte{
	color: #fff;
	font-size: 50px;
	text-align: center;
	line-height: 400px;
	word-break: keep-all;
}

/* small nevigation map */
.smap{
	color: #fff;
    line-height: 1;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    position: absolute;
    right: 0;
    top: 500px;
}
.smap a{
	color: #fff;
	text-decoration-color: none;
	text-decoration-line: none;
}
.smap li{
	padding: 5px;
	display: inline-block;
}
.smap li:nth-child(5){
	padding-right: 320px;
}

/* subPage toggle menu */
div.product_kind_wrap {
	width: 1200px;
	margin: 0 auto;
    padding: 20px;
    border: 1px solid #b7b7b7;
    position: relative;
    border-radius: 5px;
	margin-top: 40px;
    margin-bottom: 40px;
}
.product_kind_wrap .tit {
	padding-bottom: 20px;
}
fieldset{
	border: none;
}
.hid {
    position: absolute;
    left: -9999px;
    font-size: 0;
    width: 0;
    height: 0;
    text-indent: -9999px;
    overflow: hidden;
}
div.product_kind_wrap div.product_select_wrap ul {
    width: 1150px;
}
div.product_kind_wrap div.product_select_wrap ul li {
    font-size: 14px;
    font-weight: bold;
    color: #444;
    float: left;
    margin-right: 30px;
    font-weight: normal;
    margin-bottom: 10px;
}
div.product_kind_wrap div.product_select_wrap ul li input {
	vertical-align: middle;
}
.cate_list input[type=checkbox]:not(old), ul.opt li input[type=checkbox]:not(old) {
    position: absolute;
    width: 12px;
    height: 12px;
    padding: 0;
    border: 0 none;
    left: 5px;
    top: 1px;
    background: #fff;
    cursor: pointer;
}
.cate_list input[type=checkbox]:checked+label, ul.opt input[type=checkbox]:checked+label {
    background: #fff url(../images/list_btn/ck_icon_on.jpg) no-repeat 0 50%;
    background-size: 12px;
}
.cate_list input[type=checkbox]:not(old) + label, ul.opt input[type=checkbox]:not(old) + label {
    position: relative;
    display: inline-block;
    height: 14px;
    line-height: 14px;
    padding-left: 20px;
    background: #fff url(../images/list_btn/ck_icon.jpg) 0 50% no-repeat;
    font-size: 14px;
    color: #3f4141;
    cursor: pointer;
    vertical-align: top;
    background-size: 12px;
    cursor: pointer;
    z-index: 4;
}

/* subPage Content */
div.product_view_tab_wrap {
    width: 1240px;
    position: relative;
	margin: 0 auto;
}
dl.product_view_tab {
    position: relative;
}
div.product_list > dl{
    clear: left;
}
div.product_list > dl > dt {
    padding: 20px;
    background: #b7b7b7;
    margin-bottom: 20px;
    border-radius: 3px;
    overflow: hidden;
}
div.product_list > dl > dt > a {
    display: block;
    float: left;
    line-height: 25px;
    font-size: 25px;
    font-weight: bold;
    color: #0D0D0D;
}
div.product_list > dl > dd {
    margin-bottom: 40px;
	text-align: center;
}
div.product_list > dl > dd > ul {
    width: 1280px;
    position: relative;
	left: -10px;
}
div.product_list > dl > dd > ul > li {
    width: 293px;
    float: left;
    margin: 10px;
    margin-bottom: 10px;
    position: relative;
    border: 1px solid #0D0D0D;
}
div.product_list > dl > dd > ul li dl {
    width: 293px;
}
div.product_list > dl > dd > ul li dt {
    width: 293px;
    height: auto;
    position: relative;
    overflow: hidden;
}
div.product_list > dl > dd > ul li dt img{
    width: 293px;
}
div.product_list > dl > dd > ul li dl dd{
    padding: 10px 0;
}
div.product_list > dl > dd > ul li dl dd .put_cart{
	margin: 0 auto;
	width: 200px;
	padding: 10px;
    border-radius: 20px;
    background-color: #b7b7b7;
}
div.product_list > dl > dd > ul li dl dd .put_cart:hover{
	margin: 0 auto;
	width: 200px;
	padding: 10px;
    border-radius: 20px;
    background-color: #454545;
	color: #fff;
}
